@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Enrollment Date", "About", new { sortOrder = ViewBag.EnrolmentSortParam })
        </th>
        <th>
            @Html.ActionLink("Students", "About", new { sortOrder = ViewBag.CountSortParam })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>